doctype html
html
  head
    title Email Address Updated
  body
    h1 Your email address has been successfully updated
    p Hi #{firstName},
    p This is a confirmation that your email for appName has been changed to:
    p strong #{newEmail}
    p If you did not make this change, please contact our support team immediately.
