doctype html
html
  head
    title Password Changed
  body
    h1 Your password has been successfully changed
    p Hi #{firstName},
    p This is a confirmation that your password for #{appName} was successfully updated.
    p If you did not perform this action, please contact our support team immediately.
