doctype html
html
  head
    title Password Reset Request
  body
    h1 Forgot your password?
    p A request was made to reset your password.
    p Click the link below to reset it (valid for 10 minutes):
    p
      a(href=resetUrl)= resetUrl
    p If you didn't request this, you can safely ignore this email.