doctype html
html
  head
    title Welcome to Our App
  body
    h1 Welcome, #{firstName}!
    p Thank you for joining appName. We're excited to have you on board.
    p You can log in anytime at: 
      a(href=loginUrl)= loginUrl
    p – The appName Team